@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(/client/general/fonts/Roboto-400.woff2);
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url(/client/general/fonts/Roboto-500.woff2);
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url(/client/general/fonts/Roboto-700.woff2);
}
